{% extends 'tasks/base.html' %}
<title>{% block title %} Авторизация {% endblock %}</title>
{% block content %}

    <div class="text-center">
        <h1>Авторизация</h1>
    </div>

    <div class="container d-flex justify-content-center bg-light">
        <form class="w-50" method="post">
            {% csrf_token %}
            {% for f in form %}
                <br>
                <label for="{{ f.id_for_label }}"> <h5>{{ f.label }}*</h5> </label>
                <input placeholder="{{ f.label }}" class="form-control" {{ f }}
                <div class="form-error">{{ f.errors }}</div>
                <br>
            {% endfor %}
                <div class="form-error">{{ form.non_field_errors }}</div>
            <br>
            <button type="submit" class="btn btn-primary w-100">Войти</button>
        </form>
    </div>
{% endblock %}
