<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Site {% endblock %}</title>
      {% load static %}
      <link href="{% static '/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
      <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <nav class="navbar bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand text-warning" href="{% url 'tasks' %}">Geeks Homeworks</a>
            {% if request.user.is_authenticated %}
                <ul class="nav justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'student-detail' user.pk %}"> {{ user.get_full_name }}</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'student-homeworks' %}"> My Homeworks</a>
                  </li>
                </ul>
                <a class="login" href="{% url 'logout' %}">
                    <button type="button" class="btn btn-outline-warning">Выйти</button>
                </a>
            {% else %}
                <a class="login" href="{% url 'login' %}">
                    <button type="button" class="btn btn-outline-warning">Войти</button>
                </a>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
