{% extends 'tasks/base.html' %}
<title>{% block title %} Отправленные ДЗ {% endblock %}</title>
{% block content %}
    <br>
    {% if homeworks %}
        {% for homework in homeworks %}
            <div class="container d-flex justify-content-center">
                <div class="card text-center w-75 mb-3">
                    <div class="card-header">
                        <h3>Домашнее Задание № {{ homework.task.number }}</h3>
                        <p class="card-title text-secondary fst-italic warning text-danger-emphasis">Крайний срок сдачи: {{ homework.task.deadline }}</p>
                        {% if homework.is_deadline %}
                            <p class="card-title text-secondary fst-italic ">Отправлено: {{ homework.created }} (До дедлайна)</p>
                        {% else %}
                            <p class="card-title text-secondary fst-italic ">Отправлено: {{ homework.created }} (После дедлайна)</p>
                        {% endif %}
                    </div>

                {% if not homework.is_checked %}
                    <div class="card-body">
                      <p>{{ homework.file }}</p>
                      <!--<p>{{ homework.link_to_git}}</p>-->
                        <h4 class="text-start">Stand Up:</h4>
                            <p>{{ homework.stand_up }}</p>
                    </div>

                    <div class="card-footer">
                      <span class="badge text-bg-secondary w-25 p-2">Ожидает проверки...</span>
                    </div>

                {% else %}
                    <div class="card-body">
                        <h4 class="text-start">Feedback:</h4>
                        {% autoescape off %}
                            <p>{{ homework.feedback }}</p>
                        {% endautoescape %}
                    </div>

                    <div class="card-footer">
                        <span class="position-absolute top-0 start-100 translate-middle badge bg-danger">
                        <b>{{ homework.score }}</b> / 10
                        </span>
                        <span class="badge text-bg-success w-25 p-2">Проверено!</span>
                    </div>

                {% endif %}

                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning" role="alert">
            <h4 class="text-center display-4">Нет выполненных заданий!</h4>
        </div>
    {% endif %}
{% endblock %}
